plugins/com.gridnine.jasmine.server.core/source/com/gridnine/jasmine/server/core/model/l10n/l10n/web-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xtrip.gridnine.com/jasmine/web-messages"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="messages-bundle">
        <complexType>
            <sequence maxOccurs="unbounded" minOccurs="0">
                <element name="message">
                    <complexType>
                        <attribute name="id" type="string" use="required"/>
                    </complexType>
                </element>
            </sequence>
            <attribute name="messages-class" type="string" use="required"/>
        </complexType>
    </element>
</schema>