plugins/com.gridnine.jasmine.server.core/source/com/gridnine/jasmine/server/core/model/ui/ui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xtrip.gridnine.com/jasmine/ui"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://xtrip.gridnine.com/jasmine/ui">
    <element name="ui">
        <complexType>
            <sequence>
                <choice maxOccurs="unbounded" minOccurs="0">
                    <element name="list">
                        <complexType>
                            <complexContent>
                                <extension base="tns:baseMetaElement">
                                    <sequence>
                                        <element type="tns:toolbar" name="toolbar" minOccurs="0"/>
                                    </sequence>
                                    <attribute name="object-id" type="string" use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="editor">
                        <complexType>
                            <complexContent>
                                <extension base="tns:baseMetaElement">
                                    <sequence>
                                        <element name="toolbar" type="tns:toolbar" minOccurs="0"/>
                                        <element type="string" name = "editor-handler" minOccurs="0"/>
                                        <group ref="tns:view-group"/>
                                    </sequence>
                                    <attribute name="entity-id" type="string" use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="dialog">
                        <complexType>
                            <complexContent>
                                <extension base="tns:baseMetaElement">
                                    <sequence>
                                        <element type="string" name = "dialog-handler" minOccurs="0"/>
                                        <group ref="tns:view-group"/>
                                        <element name="buttons">
                                            <complexType>
                                               <sequence>
                                                   <element name="button" type="tns:dialogButton" maxOccurs="unbounded"/>
                                               </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="closable" type="boolean" default="true"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="validation-messages">
                        <complexType>
                            <complexContent>
                                <extension base="tns:baseMetaElement">
                                    <sequence>
                                        <element name="message" maxOccurs="unbounded"
                                                 minOccurs="0" type="tns:baseMetaElement">
                                        </element>
                                    </sequence>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="shared-editor-tool-button" type="tns:toolButton" minOccurs="0" maxOccurs="unbounded"/>
                </choice>
            </sequence>
        </complexType>
    </element>
    <complexType name="baseMetaElement">
        <attribute name="id" type="string" use="required"/>
    </complexType>
    <group name="layout-group">
        <choice>
            <element name="table-layout" type="tns:tableLayout"/>
        </choice>
    </group>
    <group name="view-group">
        <choice>
            <element name="view">
                <complexType>
                    <sequence>
                        <group ref="tns:layout-group"/>
                    </sequence>
                    <attribute name="additional-data-class" type="string"/>
                </complexType>
            </element>
        </choice>
    </group>
    <complexType name="tableLayout">
        <sequence>
            <element maxOccurs="unbounded" type="tns:columnType" name="column"/>
            <choice maxOccurs="unbounded" minOccurs="0">
                <group ref="tns:widgetsGroup"/>
                <element name = "next-row"/>
                <element name = "next-column"/>
            </choice>
        </sequence>
        <attribute  name="expandLastRow" type="boolean" />
    </complexType>
    <complexType name="columnType">
        <attribute name="width" type="string"/>
    </complexType>
    <group name="widgetsGroup">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element name="text-box" type="tns:textBox"/>
                <element name="password-box" type="tns:passwordBox"/>
                <element name="enum-select" type="tns:enumSelect"/>
                <element name="entity-autocomplete" type="tns:entityAutocomplete"/>
                <element name="text-area" type="tns:textArea"/>
                <element name="integer-box" type="tns:integerBox"/>
                <element name="float-box" type="tns:floatBox"/>
                <element name="date-box" type="tns:dateBox"/>
                <element name="date-time-box" type="tns:dateTimeBox"/>
                <element name="boolean-box" type="tns:booleanBox"/>
                <element name="label" type="tns:label"/>
                <element name="table" type="tns:tableWidget"/>
            </choice>
        </sequence>
    </group>
    <complexType name="baseWidget">
        <attribute name="id" type="string" use="required"/>
        <attribute name="h_span" type="integer"/>
    </complexType>
    <complexType name="passwordBox">
        <complexContent>
            <extension base="tns:baseWidget">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="textBox">
        <complexContent>
            <extension base="tns:baseWidget">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="enumSelect">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name="enum-id" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="entityAutocomplete">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name="entity-class-name" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="textArea">
        <complexContent>
            <extension base="tns:baseWidget">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="integerBox">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name="notNullable" type="boolean"/>
            </extension>

        </complexContent>
    </complexType>
    <complexType name="floatBox">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name="notNullable" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="dateBox">
        <complexContent>
            <extension base="tns:baseWidget">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="dateTimeBox">
        <complexContent>
            <extension base="tns:baseWidget">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="booleanBox">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name="notNullable" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="label">
        <complexContent>
            <extension base="tns:baseWidget">
                <attribute name = "v-align" type="tns:verticalAlignment"/>
                <attribute name = "h-align" type="tns:horizontalAlignment"/>
                <attribute name = "caption" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="verticalAlignment">
        <restriction base="string">
            <enumeration value="TOP" />
            <enumeration value="BOTTOM" />
            <enumeration value="CENTER" />
        </restriction>
    </simpleType>
    <simpleType name="horizontalAlignment">
        <restriction base="string">
            <enumeration value="LEFT" />
            <enumeration value="RIGHT" />
            <enumeration value="CENTER" />
        </restriction>
    </simpleType>
    <simpleType name="nonEditable">
        <restriction base="string">
            <enumeration value="true" />
            <enumeration value="false" />
        </restriction>
    </simpleType>
    <complexType name="baseColumn">
        <attribute name="id" type="string" use="required"/>
        <attribute name="width" type="integer"/>
        <attribute name="caption" use="required"/>
    </complexType>
    <complexType name="textColumn">
        <complexContent>
            <extension base="tns:baseColumn">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="enumColumn">
        <complexContent>
            <extension base="tns:baseColumn">
                <attribute name="enum-id" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="entityColumn">
        <complexContent>
            <extension base="tns:baseColumn">
                <attribute name="entity-class-name" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="integerColumn">
        <complexContent>
            <extension base="tns:baseColumn">
                <attribute name="notNullable" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="floatColumn">
        <complexContent>
            <extension base="tns:baseColumn">
                <attribute name="notNullable" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="dateColumn">
        <complexContent>
            <extension base="tns:baseColumn">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="tableWidget">
        <complexContent>
            <extension base="tns:baseWidget">
                <sequence>
                    <element name="columns">
                        <complexType>
                            <sequence>
                                <choice maxOccurs="unbounded">
                                    <element name="text-column" type="tns:textColumn"/>
                                    <element name="enum-select-column" type="tns:enumColumn"/>
                                    <element name="entity-autocomplete-column" type="tns:entityColumn"/>
                                    <element name="integer-column" type="tns:integerColumn"/>
                                    <element name="float-column" type="tns:floatColumn"/>
                                    <element name="date-column" type="tns:dateColumn"/>
                                </choice>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
                <attribute name="class-name" type="string"/>
                <attribute name="additional-row-data-class" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="toolButton">
        <complexContent>
            <extension base="tns:baseMetaElement">
                <attribute use="required" name="handler" type="string"/>
                <attribute use="required" name="weight" type="double"/>
                <attribute name = "caption" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="dialogButton">
        <complexContent>
            <extension base="tns:baseMetaElement">
                <attribute use="required" name="handler" type="string"/>
                <attribute use="required" name="caption" type="string"/>
                <attribute name = "caption" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="toolbar">
        <sequence >
            <element name="tool-button" type="tns:toolButton" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
